html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #f1eff1;
  color: #595959;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.39;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 760px;
  }
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.content {
  padding-top: 20px;
  padding-bottom: 60px;
}

.content-body {
  float: left;
  width: calc(100% - 160px);
}

@font-face {
  font-family: 'Helvetica';
  font-weight: normal;
  src: local("Helvetica"), local("Helvetica-Regular");
  src: url("../fonts/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular.ttf") format("truetype");
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 700;
  src: local("Helvetica"), local("HelveticaBold");
  src: url("../fonts/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold.ttf") format("truetype");
}

@font-face {
  font-family: 'PFDinTextCondPro';
  font-weight: normal;
  src: local("PFDinTextCondPro"), local("PFDinTextCondPro-Regular");
  src: url("../fonts/PFDinTextCondPro-Regular.eot");
  src: url("../fonts/PFDinTextCondPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Regular.woff") format("woff"), url("../fonts/PFDinTextCondPro-Regular.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular") format("svg");
}

@font-face {
  font-family: 'PFDinTextCondPro';
  font-weight: 700;
  src: local("PFDinTextCondPro"), local("PFDinTextCondPro-Bold");
  src: url("../fonts/PFDinTextCondPro-Bold.eot");
  src: url("../fonts/PFDinTextCondPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCondPro-Bold.woff") format("woff"), url("../fonts/PFDinTextCondPro-Bold.ttf") format("truetype"), url("../fonts/PFDinTextCondPro-Bold.svg#PFDinTextCondPro-Bold") format("svg");
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: #df0000;
}

a:hover, a:active {
  color: #790000;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  background: none;
  outline: 0 none;
  border: 0 none;
  border-radius: 4px;
  padding: 11px 21px;
  min-width: 150px;
  background-color: #e4e4e4;
  font-size: 18px;
  font-family: "PFDinTextCondPro", "Helvetica", Arial, sans-serif;
  line-height: 1;
  color: #7a7a7a;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  color: #949494;
}

.btn--accent {
  background-color: #960000;
  color: #fff;
}

.btn--primary {
  position: relative;
  background-color: #ffd900;
  color: #960000;
  margin-left: 8px;
  padding: 7px 12px;
  min-width: auto;
  text-transform: none;
  background-image: -webkit-linear-gradient(#ffe400 0%, #ffc300 100%);
  background-image: -o-linear-gradient(#ffe400 0%, #ffc300 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe400), to(#ffc300));
  background-image: linear-gradient(#ffe400 0%, #ffc300 100%);
}

.btn--primary:hover {
  color: #630000;
}

.btn--primary::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -6px;
  margin: auto;
  width: 12px;
  height: 12px;
  background-color: #ffd900;
  border-radius: 50%;
}

.btn--primary-big {
  padding: 15px 20px;
  font-size: 30px;
  font-weight: 700;
}

.btn--primary-big::after {
  width: 20px;
  height: 20px;
  left: -10px;
}

.btn--dark {
  background-color: #464646;
  color: #fff;
}

.inner-line {
  position: relative;
  width: 100%;
  padding-left: 30px;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .inner-line {
    padding-left: 10px;
  }
}

.inner-line::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  background-color: #cbcbcb;
  border-bottom: 1px solid #fff;
  z-index: -1;
}

.inner-line--inverse::after {
  background-color: #000;
  border-color: #444;
}

.header {
  background-color: #b90000;
  background-image: url("../img/bg_1.png");
  background-repeat: repeat-x;
  background-size: contain;
  padding-top: 55px;
  padding-bottom: 10px;
}

.header-inner {
  max-width: 800px;
  margin-left: auto;
  padding-bottom: 15px;
}

.header-top {
  padding-bottom: 30px;
}

.header-top::after {
  content: '';
  display: table;
  clear: both;
}

.header-logo {
  float: left;
  width: 360px;
}

.header-nav {
  float: right;
  padding-top: 55px;
}

.header-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  color: #fff;
}

.header-menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.header-menu a {
  color: inherit;
  text-decoration: none;
}

.header-menu a:hover {
  color: #cccccc;
}

.header-search {
  position: relative;
  background-color: #960000;
  border-radius: 5px;
  color: #fff;
  padding: 20px;
}

.header-search::after {
  content: '';
  display: table;
  clear: both;
}

.header-search::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 22px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 16.5px 12px 16.5px;
  border-color: transparent transparent #960000 transparent;
}

.header-search__title {
  float: left;
  font-size: 20px;
  line-height: 30px;
}

.header-search__form {
  float: right;
}

.header-search__form-input {
  width: 240px;
  vertical-align: middle;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 10px -4px #212020;
  box-shadow: inset 0px 0px 10px -4px #212020;
  border: 0 none;
  padding: 8px 12px;
  font-size: 13px;
  color: #b70000;
}

.banner::after {
  content: '';
  display: table;
  clear: both;
}

.banner-info {
  width: 160px;
  float: left;
}

.banner-info__top {
  position: relative;
  width: 135px;
  background-color: #fff;
  color: #960000;
  border-radius: 4px;
  font-size: 23px;
  line-height: 1;
  padding: 20px 10px;
  font-family: "PFDinTextCondPro", "Helvetica", Arial, sans-serif;
}

.banner-info__top::after {
  content: '';
  position: absolute;
  top: 23px;
  right: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 0 17px 12px;
  border-color: transparent transparent transparent #fff;
}

.banner-info__date {
  font-size: 50px;
  font-weight: 700;
}

.banner-info__tabs {
  padding-top: 20px;
}

.banner-info__tabs-item {
  color: #929292;
  font-size: 22px;
  font-family: "PFDinTextCondPro", "Helvetica", Arial, sans-serif;
  line-height: 24px;
  background-color: #2a2a2a;
  padding: 15px 10px;
  margin-bottom: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.banner-info__tabs-item--active {
  color: #ffe400;
}

.banner-content {
  width: calc(100% - 160px);
  float: right;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.banner-content__header {
  background-color: #f2f2f2;
  padding: 10px 20px;
}

.banner-content__title {
  color: #000;
  line-height: 1;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .banner-content__title {
    font-size: 25px;
  }
}

.banner-content__text {
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .banner-content__text {
    font-size: 14px;
  }
}

.banner-content__body {
  padding-top: 10px;
}

.banner-content__body::after {
  content: '';
  display: table;
  clear: both;
}

.banner-content__img {
  display: block;
  float: left;
  width: 380px;
}

@media screen and (max-width: 992px) {
  .banner-content__img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.banner-content__footer {
  text-align: right;
  color: #000;
  padding-top: 10px;
}

.banner-content__footer img {
  margin-left: 5px;
  margin-right: 5px;
}

.card {
  position: relative;
  width: 390px;
  padding: 12px;
  float: right;
  background-color: #000;
  border-radius: 3px;
  color: #9c9c9c;
  font-family: "PFDinTextCondPro", "Helvetica", Arial, sans-serif;
}

@media screen and (max-width: 992px) {
  .card {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.card::after {
  content: '';
  position: absolute;
  top: 19px;
  left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10.5px 9px 10.5px 0;
  border-color: transparent #000 transparent transparent;
}

.card__header {
  padding: 5px;
  padding-bottom: 20px;
}

.card__timer {
  float: right;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 26px;
  line-height: 1;
}

.card__body {
  background-color: #2a2a2a;
  -webkit-box-shadow: 0px 0px 4px 6px #2a2a2a;
  box-shadow: 0px 0px 4px 6px #2a2a2a;
  border-radius: 4px;
  padding-top: 20px;
}

.card__body::after {
  content: '';
  display: table;
  clear: both;
}

.card__price {
  float: left;
  width: 50%;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
  font-family: "Helvetica", Arial, sans-serif;
}

.card__body-btn-wrap {
  float: right;
  width: 50%;
}

.card__body-btn-wrap .btn {
  margin-left: 12px;
}

.card__gift {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 16px;
  padding-right: 8px;
}

.card__gift img {
  margin-right: 5px;
}

.card-info::after {
  content: '';
  display: table;
  clear: both;
}

.card-info__block {
  position: relative;
  float: left;
  margin-right: 10px;
  padding: 5px 15px;
  background-color: #212121;
  border-radius: 7px;
}

.card-info__block::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -9px;
  margin: auto;
  width: 8px;
  height: 1px;
  background-color: #c2c2c2;
}

.card-info__block:last-child::after {
  display: none;
}

.card-info__block-title {
  font-size: 14px;
  text-align: right;
  text-transform: uppercase;
  color: #5b5b5b;
}

.card-info__block-text {
  font-size: 30px;
  color: #ffe400;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 700;
}

.footer {
  background-color: #303130;
  background-image: url("../img/bg_2.png");
  background-repeat: repeat-x;
  background-size: contain;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #fff;
}

.footer-widget {
  float: left;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-widget__title {
  font-size: 24px;
  font-weight: 700;
  color: #df0000;
  font-family: "PFDinTextCondPro", "Helvetica", Arial, sans-serif;
  line-height: 1;
}

.footer-widget__title--primary {
  color: #ffe400;
}

.footer-widget__content {
  padding-bottom: 35px;
}

.footer-widget__content::after {
  content: '';
  display: table;
  clear: both;
}

.footer-widget__icon {
  float: left;
  width: 65px;
}

.footer-widget__text {
  float: left;
  width: calc(100% - 65px);
  padding-right: 27px;
}

.footer-widget__btn {
  width: 100%;
  background-color: #df0000;
  padding: 6px 10px;
  text-align: left;
  font-size: 14px;
  font-family: "Helvetica", Arial, sans-serif;
  text-transform: none;
}

.footer-nav__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav__menu li {
  border-bottom: 1px solid #502a2a;
  margin-bottom: 15px;
}

.footer-nav__menu a {
  color: #fff;
  text-decoration: none;
}

.footer-nav__menu a:hover {
  color: #cccccc;
}

.sidebar {
  float: left;
  width: 160px;
  padding-right: 10px;
}

.sidebar-widget {
  margin-bottom: 17px;
}

.app-widget__inner {
  position: relative;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 15px;
}

.app-widget__inner::after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: -13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 16.5px 0 16.5px;
  border-color: #fff transparent transparent transparent;
}

.app-widget__img {
  display: inline-block;
}

.app-widget__link {
  text-decoration: none;
}

.contact {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact::after {
  content: '';
  display: table;
  clear: both;
}

.contact__map {
  float: left;
  width: 55%;
}

.contact__info {
  float: left;
  width: 45%;
  padding-left: 20px;
}

.address {
  float: left;
  padding-left: 10px;
  font-size: 14px;
  color: #7d7d7d;
  font-style: normal;
}

.address__icon {
  float: left;
}

.article-preview {
  background-color: #2f2f2f;
  color: #c7c7c7;
  border-radius: 4px;
  padding-top: 13px;
  padding-bottom: 10px;
}

.article-preview__content {
  padding-left: 10px;
  max-width: 500px;
}

.article-preview__content a {
  color: #fff;
}

.article-preview__thumb {
  position: relative;
  float: left;
  width: calc(100% - 230px);
  padding-left: 10px;
  padding-right: 20px;
}

.article-preview__thumb::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 1px;
  background-color: #000;
  border-right: 1px solid #444;
}

.articles-list {
  float: left;
  width: 230px;
  padding-right: 10px;
}

.article {
  margin-bottom: 25px;
}

.article::after {
  content: '';
  display: table;
  clear: both;
}

.article__thumb {
  float: left;
  width: 60px;
}

.article__thumb img {
  width: 100%;
  height: auto;
}

.article__info {
  float: right;
  width: 143px;
}

.article__title {
  font-size: 13px;
  line-height: 1;
  color: #ffe400;
  margin: 0;
}

.article__content {
  font-size: 12px;
  color: #fff;
}

.home-content::after {
  content: '';
  display: table;
  clear: both;
}

.home-content__inner {
  float: left;
  width: 68.75%;
}

.home-content__text {
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
}

.home-content__info {
  float: right;
  width: 31.25%;
  padding-left: 20px;
}

/*# sourceMappingURL=main.css.map */