//  Base global styles

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background-color: $body-bg;
  color: $text-color;
	font-family: $font-family;
  font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  @include max-w($screen-lg) {
    max-width: 760px;
  }
}

.clearfix {
  @include clearfix;
}

.content {
  padding-top: 20px;
  padding-bottom: 60px;
}

.content-body {
  float: left;
  width: calc(100% - 160px);
}
