//  Fonts

// font-family: 'Helvetica';
@font-face {
  font-family: 'Helvetica';
  font-weight: normal;
  src:  local('Helvetica'), local('Helvetica-Regular');
  src:  url('../fonts/HelveticaRegular.eot');
  src:  url('../fonts/HelveticaRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaRegular.woff') format('woff'),
        url('../fonts/HelveticaRegular.ttf') format('truetype');
}

// font-family: 'Helvetica';
// font-weight: 700;
@font-face {
  font-family: 'Helvetica';
  font-weight: 700;
  src:  local('Helvetica'), local('HelveticaBold');
  src:  url('../fonts/HelveticaBold.eot');
  src:  url('../fonts/HelveticaBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaBold.woff') format('woff'),
        url('../fonts/HelveticaBold.ttf') format('truetype');
}

// font-family: 'PFDinTextCondPro';
@font-face {
  font-family: 'PFDinTextCondPro';
  font-weight: normal;
  src:  local('PFDinTextCondPro'), local('PFDinTextCondPro-Regular');
  src:  url('../fonts/PFDinTextCondPro-Regular.eot');
  src:  url('../fonts/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFDinTextCondPro-Regular.woff') format('woff'),
        url('../fonts/PFDinTextCondPro-Regular.ttf') format('truetype'),
        url('../fonts/PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular') format('svg');
}

// font-family: 'PFDinTextCondPro';
// font-weight: 700;
@font-face {
  font-family: 'PFDinTextCondPro';
  font-weight: 700;
  src:  local('PFDinTextCondPro'), local('PFDinTextCondPro-Bold');
  src:  url('../fonts/PFDinTextCondPro-Bold.eot');
  src:  url('../fonts/PFDinTextCondPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFDinTextCondPro-Bold.woff') format('woff'),
        url('../fonts/PFDinTextCondPro-Bold.ttf') format('truetype'),
        url('../fonts/PFDinTextCondPro-Bold.svg#PFDinTextCondPro-Bold') format('svg');
}

// Title

h1, h2, h3, h4, h5 {
  //font-family: $font-family-title;
}

h1 {
  font-size: 34px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 28px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

// Link

a {
  color: $link-color;

  &:hover,
  &:active {
    color: $link-color--hover;
  }
}
