// color

$body-bg: #f1eff1;
$text-color: #595959;
$accent: #960000;
$second-color: #df0000;
$primary: #ffe400;

// buttons
$btn-default-bg-color: #e4e4e4;
$btn-default-color: #7a7a7a;
$btn-accent-bg-color: $accent;
$btn-accent-color: #fff;
$btn-primary-bg-color: #ffd900;
$btn-primary-color: $accent;
$btn-dark-bg-color: #464646;
$btn-dark-color: #fff;


// color link

$link-color: $second-color;
$link-color--hover: darken($link-color, 20%);

// typography

$font-family: 'Helvetica', Arial, sans-serif;
$font-family--second: 'PFDinTextCondPro', 'Helvetica', Arial, sans-serif;
$font-size: 13px;
$font-weight: 400; // Regular
$line-height: 1.39;

// container

$container-width: 980px;

// breakpoints

$screen-xs: 0;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
