.home-content {
	@include clearfix;

	&__inner {
		float: left;
		width: 68.75%;
	}

	&__text {
		padding-left: 10px;
		padding-right: 10px;
		color: #000;
	}

	&__info {
		float: right;
		width: 31.25%;
		padding-left: 20px;
	}
}
