.article-preview {
	background-color: #2f2f2f;
	color: #c7c7c7;
	border-radius: 4px;
	padding-top: 13px;
	padding-bottom: 10px;

	&__content {
		padding-left: 10px;
		max-width: 500px;

		a {
			color: #fff;
		}
	}

	&__thumb {
		position: relative;
		float: left;
		width: calc(100% - 230px);
		padding-left: 10px;
		padding-right: 20px;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 10px;
			width: 1px;
			background-color: #000;
			border-right: 1px solid #444;
		}
	}
}

.articles-list {
	float: left;
	width: 230px;
	padding-right: 10px;
}

.article {
	@include clearfix;
	margin-bottom: 25px;

	&__thumb {
		float: left;
		width: 60px;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__info {
		float: right;
		width: 143px;
	}

	&__title {
		font-size: 13px;
		line-height: 1;
		color: $primary;
		margin: 0;
	}

	&__content {
		font-size: 12px;
		color: #fff;
	}
}
