.banner {
  @include clearfix;

}

.banner-info {
  width: 160px;
  float: left;

  &__top {
    position: relative;
    width: 135px;
    background-color: #fff;
    color: $accent;
    border-radius: 4px;
    font-size: 23px;
    line-height: 1;
    padding: 20px 10px;
    font-family: $font-family--second;

    &::after {
      content: '';
      position: absolute;
      top: 23px;
      right: -12px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 17px 0 17px 12px;
      border-color: transparent transparent transparent #fff;
    }
  }

  &__date {
    font-size: 50px;
    font-weight: 700;
  }

  &__tabs {
    padding-top: 20px;
  }

  &__tabs-item {
    color: #929292;
    font-size: 22px;
    font-family: $font-family--second;
    line-height: 24px;
    background-color: #2a2a2a;
    padding: 15px 10px;
    margin-bottom: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &--active {
      color: $primary;
    }
  }
}

.banner-content {
  width: calc(100% - 160px);
  float: right;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;

  &__header {
    background-color: #f2f2f2;
    padding: 10px 20px;
  }

  &__title {
    color: #000;
    line-height: 1;
    margin: 0;

    @include max-w($screen-lg) {
      font-size: 25px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.2;
    margin: 0;

    @include max-w($screen-lg) {
      font-size: 14px;
    }
  }

  &__body {
    @include clearfix;
    padding-top: 10px;
  }

  &__img {
    display: block;
    float: left;
    width: 380px;

    @include max-w($screen-lg) {
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }

  &__footer {
    text-align: right;
    color: #000;
    padding-top: 10px;

    img {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.card {
  position: relative;
  width: 390px;
  padding: 12px;
  float: right;
  background-color: #000;
  border-radius: 3px;
  color: #9c9c9c;
  font-family: $font-family--second;

  @include max-w($screen-lg) {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  &::after {
    content: '';
    position: absolute;
    top: 19px;
    left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.5px 9px 10.5px 0;
    border-color: transparent #000 transparent transparent;
  }

  &__header {
    padding: 5px;
    padding-bottom: 20px;
  }

  &__timer {
    float: right;
    font-family: $font-family;
    font-size: 26px;
    line-height: 1;
  }

  &__body {
    @include clearfix;
    background-color: #2a2a2a;
    box-shadow: 0px 0px 4px 6px rgba(42,42,42,1);
    border-radius: 4px;
    padding-top: 20px;
  }

  &__price {
    float: left;
    width: 50%;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    font-family: $font-family;
  }

  &__body-btn-wrap {
    float: right;
    width: 50%;

    .btn {
      margin-left: 12px;
    }
  }

  &__gift {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #fff;
    font-size: 16px;
    padding-right: 8px;

    img {
      margin-right: 5px;
    }
  }
}

.card-info {
  @include clearfix;

  &__block {
    position: relative;
    float: left;
    margin-right: 10px;
    padding: 5px 15px;
    background-color: #212121;
    border-radius: 7px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -9px;
      margin: auto;
      width: 8px;
      height: 1px;
      background-color: #c2c2c2;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__block-title {
    font-size: 14px;
    text-align: right;
    text-transform: uppercase;
    color: #5b5b5b;
  }

  &__block-text {
    font-size: 30px;
    color: $primary;
    font-family: $font-family;
    font-weight: 700;
  }
}
