// Buttons

.btn {
  display: inline-block;
  vertical-align: middle;
  background: none;
  outline: 0 none;
  border: 0 none;
  border-radius: 4px;
  padding: 11px 21px;
  min-width: 150px;
  background-color: $btn-default-bg-color;
  font-size: 18px;
  font-family: $font-family--second;
  line-height: 1;
  color: $btn-default-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: lighten($btn-default-color, 10%);
  }

  &--accent {
    background-color: $btn-accent-bg-color;
    color: $btn-accent-color;
  }

  &--primary {
      position: relative;
      background-color: $btn-primary-bg-color;
      color: $btn-primary-color;
      margin-left: 8px;
      padding: 7px 12px;
      min-width: auto;
      text-transform: none;
      background-image: -webkit-linear-gradient(#ffe400 0%, #ffc300 100%);
      background-image: -o-linear-gradient(#ffe400 0%, #ffc300 100%);
      background-image: linear-gradient(#ffe400 0%, #ffc300 100%);

      &:hover {
        color: darken($btn-primary-color, 10%);
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -6px;
        margin: auto;
        width: 12px;
        height: 12px;
        background-color: $btn-primary-bg-color;
        border-radius: 50%;
      }
    }

  &--primary-big {
    padding: 15px 20px;
    font-size: 30px;
    font-weight: 700;

    &::after {
      width: 20px;
      height: 20px;
      left: -10px;
    }
  }

  &--dark {
    background-color: $btn-dark-bg-color;
    color: $btn-dark-color;
  }
}
