.contact {
	@include clearfix;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;

	&__map {
		float: left;
		width: 55%;
	}

	&__info {
		float: left;
		width: 45%;
		padding-left: 20px;
	}
}

.address {
	float: left;
	padding-left: 10px;
	font-size: 14px;
	color: #7d7d7d;
	font-style: normal;

	&__icon {
		float: left;
	}
}
