.footer {
	background-color: #303130;
	background-image: url('../img/bg_2.png');
	background-repeat: repeat-x;
	background-size: contain;
	padding-top: 60px;
	padding-bottom: 20px;
	font-size: 14px;
	color: #fff;
}

.footer-widget {
	float: left;
	width: 25%;
	padding-left: 10px;
	padding-right: 10px;

	&__title {
		font-size: 24px;
		font-weight: 700;
		color: $second-color;
		font-family: $font-family--second;
		line-height: 1;

		&--primary {
			color: $primary;
		}
	}

	&__content {
		@include clearfix;
		padding-bottom: 35px;
	}

	&__icon {
		float: left;
		width: 65px;
	}

	&__text {
		float: left;
		width: calc(100% - 65px);
		padding-right: 27px;
	}

	&__btn {
		width: 100%;
		background-color: $second-color;
		padding: 6px 10px;
		text-align: left;
		font-size: 14px;
		font-family: $font-family;
		text-transform: none;
	}
}

.footer-nav {

	&__menu {
		@include clearlist;

		li {
			border-bottom: 1px solid #502a2a;
			margin-bottom: 15px;
		}

		a {
			color: #fff;
			text-decoration: none;

			&:hover {
				color: darken(#fff, 20%);
			}
		}
	}
}
