.header {
  background-color: #b90000;
  background-image: url('../img/bg_1.png');
  background-repeat: repeat-x;
  background-size: contain;
  padding-top: 55px;
  padding-bottom: 10px;
}

.header-inner {
  max-width: 800px;
  margin-left: auto;
  padding-bottom: 15px;
}

.header-top {
  @include clearfix;
  padding-bottom: 30px;
}

.header-logo {
  float: left;
  width: 360px;
}

.header-nav {
  float: right;
  padding-top: 55px;
}

.header-menu {
  @include clearlist;
  font-size: 14px;
  line-height: 1;
  color: #fff;

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: darken(#fff, 20%);
    }
  }
}

.header-search {
  @include clearfix;
  position: relative;
  background-color: $accent;
  border-radius: 5px;
  color: #fff;
  padding: 20px;

  &::before {
    content: '';
    position: absolute;
    top: -12px;
    left: 22px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16.5px 12px 16.5px;
    border-color: transparent transparent $accent transparent;
  }

  &__title {
    float: left;
    font-size: 20px;
    line-height: 30px;
  }

  &__form {
    float: right;
  }

  &__form-input {
    width: 240px;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: inset 0px 0px 10px -4px rgba(33,32,32,1);
    border: 0 none;
    padding: 8px 12px;
    font-size: 13px;
    color: #b70000;
  }
}
