.inner-line {
  position: relative;
  width: 100%;
  padding-left: 30px;
  z-index: 1;

  @include max-w($screen-lg) {
    padding-left: 10px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    background-color: #cbcbcb;
    border-bottom: 1px solid #fff;
    z-index: -1;
  }

  &--inverse {
    &::after {
      background-color: #000;
      border-color: #444;
    }
  }
}
