.sidebar {
  float: left;
  width: 160px;
  padding-right: 10px;
}

.sidebar-widget {
  margin-bottom: 17px;
}

.app-widget {

  &__inner {
    position: relative;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 15px;

    &::after {
      content: '';
      position: absolute;
      right: 20px;
      bottom: -13px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 16.5px 0 16.5px;
      border-color: #fff transparent transparent transparent;
    }
  }

  &__img {
    display: inline-block;
  }

  &__link {
    text-decoration: none;
  }
}
